li{
    list-style:none;
    margin:15px 5px 15px 5px;
}
.niveau1{
    display:block;
    float:left;
    width:150px;
    margin-right:5px;
    margin-bottom:15px;
    text-align:center;
    color:white;
}
.niveau2{
    postion:absolute;
    margin-top:10px;
    display:none;
    background-color:white;
    color:#007DB8;
    margin-right:auto;
    text-align:left;
    width:200px;
}
.niveau2 li{
    width:120px;
    margin-top:10px;
}
.niveau3{
     postion:absolute;
    margin-top:10px;
    margin-left:-10px;
    display:none;
    background-color:white;
    color:#007DB8;
    }
ul ul {display: none;}
li:hover ul.niveau2, li li:hover ul.niveau3 {display:block;}
.Header{
    background-color:#007DB8;
}
img, .input-group{
    margin-top:15px;
}
img{
    margin-left:25px;
}
li{
    color:white;
}
.collapse{
    background-color: blue;
}
.row-user{
    margin-top:25px;
}